/* Cleaned up for full screen app */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

/* ... other logo styles can stay or go, but #root styles must go */
